<div class="tictactoe-container">
    <div class="tictactoe-board" id="board">
        <div *ngFor="let row of rows" class="tictactoe-coll">
            <div *ngFor="let col of cols" class="tictactoe-cell" (click)="handleClick(row, col)">
                {{ boardState[row][col] }}
            </div>
        </div>
    </div>
    <div class="tictactoe-reset-button">
        <button (click)="handleReset()">Reset</button>
    </div>
    <div class="tictactoe-message" id="message">{{ winMessage }}</div>
</div>